# IDEs
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Gradle (ya no usado, pero por si acaso)
.gradle/
build/
out/

# Maven
target/
*.rar

# Node modules
node_modules/
package-lock.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual machine crash logs
hs_err_pid*
replay_pid*
